<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css" type="text/css"/>
    <title>Document</title>
</head>
<body>
    <h5>Box Model Homework</h5>

    <div class="Box" id="one">
        <img src="/pictures/Batistuta.jpg" alt="Batistuta" height="200px" width="300px"/>
    </div>

    <div class="Box" id="two">
        <img src="/pictures/Totti.jpg" alt="Totti" height="200px" width="300px"/>
    </div>

    <div class="Box" id="three">
        <img src="/pictures/Baresi.jpg" alt="Baresi" height="200px" width="300px"/>
    </div>
    
    <br><br>
    <div class="flex-container">
        <div id="five"><span>Content Box</span></div>
        <div id="six">Padding Box</div>
        <div id="seven">Border Box</div>
    </div>

</body>
</html>